<%# block/head.html %>

<div class="main">
	<cms-header :userinfo="<%= JSON.stringify(this.userinfo.data) %>"></cms-header>

	<div class="left_block">
		<cms-nav :navdata="<%= JSON.stringify(this.nav) %>"></cms-nav>
	</div>

	<div class="right_block">
		<breadcrumb :navdata="<%= JSON.stringify(this.nav) %>" :rooter="'<%= this.pagerooter %>'"></breadcrumb>

		<div class="content">
			<div class="table_name">定制页</div>
			<div class="form_box">
				<bs-input
					label="标题"
					:value.sync="formdata.name"
				></bs-input>
				<bs-input
					label="分类"
					:value.sync="formdata.category"
				></bs-input>
				<bs-input
					label="发布内容"
					:value.sync="formdata.content"
					type="textarea"
				></bs-input>
			</div>
			<div class="tool_box">
				<div class="btn btn-primary" @click="previewPage">预览效果</div>
				<div v-if="id" class="btn btn-primary" @click="saveCourse">保存内容</div>
				<div v-else class="btn btn-primary" @click="saveCourse">创建内容</div>
				<div v-else class="btn btn-primary">发布内容</div>
			</div>
		</div>
	</div>
</div>

<%== loader.loadJS(['page/page/create']); %>

<%# block/foot.html %>
