<%# block/head.html %>

<div class="main">
	<cms-header :userinfo="<%= JSON.stringify(this.userinfo.data) %>"></cms-header>

	<div class="left_block">
		<cms-nav :navdata="<%= JSON.stringify(this.nav) %>"></cms-nav>
	</div>

	<div class="right_block">
		<breadcrumb :navdata="<%= JSON.stringify(this.nav) %>" :rooter="'<%= this.pagerooter %>'"></breadcrumb>

		<div class="content">
			<div class="table_name">调查问卷</div>
			<div class="form_box">
				<bs-input
					label="标题"
					:value.sync="formdata.name"
					help="中文，30个字"
				></bs-input>
				<bs-input
					label="描述"
					:value.sync="formdata.description"
				></bs-input>
				<div class="form-group" style="overflow: visible;">
					<label class="control-label">添加问题</label>
					<dropdown text="请选择">
						<ul slot="dropdown-menu" class="dropdown-menu">
						<li @click="addItem('choice')"><a>单选（默认四个）</a></li>
						<li role="separator" class="divider"></li>
						<li @click="addItem('multi-choice')"><a>多选（默认四个）</a></li>
						<li role="separator" class="divider"></li>
						<li @click="addItem('star')"><a>五星（默认三个）</a></li>
						<li role="separator" class="divider"></li>
						<li @click="addItem('drag')"><a>拖拽（默认0-100）</a></li>
						<li role="separator" class="divider"></li>
						<li @click="addItem('survey-input')"><a>输入项（默认三项）</a></li>
						<li role="separator" class="divider"></li>
						<li @click="addItem('survey-textarea')"><a>输入框</a></li>
						</ul>
					</dropdown>
				</div>

				<div class="list_box panel panel-default" v-show="content.length">
					<div class="panel-body">
						<component v-for="item in content" :is="item.type" :componentdata="item" :componentindex="$index + 1"></component>
					</div>
				</div>


				<div class="form-group" style="overflow: visible;">
					<label class="control-label">添加问题</label>
					<dropdown text="请选择">
						<ul slot="dropdown-menu" class="dropdown-menu">
						<li @click="addItem('choice')"><a>单选（默认四个）</a></li>
						<li role="separator" class="divider"></li>
						<li @click="addItem('multi-choice')"><a>多选（默认四个）</a></li>
						<li role="separator" class="divider"></li>
						<li @click="addItem('star')"><a>五星（默认三个）</a></li>
						<li role="separator" class="divider"></li>
						<li @click="addItem('drag')"><a>拖拽（默认0-100）</a></li>
						<li role="separator" class="divider"></li>
						<li @click="addItem('survey-input')"><a>输入项（默认三项）</a></li>
						<li role="separator" class="divider"></li>
						<li @click="addItem('survey-textarea')"><a>输入框</a></li>
						</ul>
					</dropdown>
				</div>
			</div>
			<div class="tool_box">
				<div class="btn btn-primary">预览效果</div>
				<div v-if="id" class="btn btn-primary" @click="saveCourse">保存问卷</div>
				<div v-else class="btn btn-primary" @click="saveCourse">创建问卷</div>
			</div>
		</div>
	</div>
</div>

<%== loader.loadJS(['page/survey/create']); %>

<%# block/foot.html %>
