<%# block/head.html %>

<div class="main">
	<cms-header :userinfo="<%= JSON.stringify(this.userinfo.data) %>"></cms-header>

	<div class="left_block">
		<cms-nav :navdata="<%= JSON.stringify(this.nav) %>"></cms-nav>
	</div>

	<div class="right_block">
		<breadcrumb :navdata="<%= JSON.stringify(this.nav) %>" :rooter="'<%= this.pagerooter %>'"></breadcrumb>

		<div class="content">
			<div class="table_name">作业管理</div>
			<div class="form_box">
				<bs-input
					label="所属课程"
					:value.sync="formdata.course_id"
					help="填写已创建的课程唯一编号"
				></bs-input>
				<bs-input
					label="作业标题"
					:value.sync="formdata.name"
				></bs-input>
				<bs-input
					label="作业详情"
					:value.sync="formdata.content"
					type="textarea"
				></bs-input>
				<bs-input
					label="作业须知详情"
					:value.sync="formdata.description"
					type="textarea"
				></bs-input>
			</div>
			<div class="tool_box">
				<div class="btn btn-primary" @click="previewPage">预览效果</div>
				<div v-if="id" class="btn btn-primary" @click="saveCourse">保存作业</div>
				<div v-else class="btn btn-primary" @click="saveCourse">创建作业</div>
			</div>
		</div>
	</div>

	<aside :show.sync="preview_show" placement="right" header="作业预览" :width="800">
		<preview-course :courseid="preview_id" :previewdata="formdata"></preview-course>
	</aside>
</div>

<%== loader.loadJS(['page/practice/create']); %>

<%# block/foot.html %>
