<%# block/head.html %>

<div class="main">
	<cms-header :userinfo="<%= JSON.stringify(this.userinfo.data) %>"></cms-header>

	<div class="left_block">
		<cms-nav :navdata="<%= JSON.stringify(this.nav) %>"></cms-nav>
	</div>

	<div class="right_block">
		<breadcrumb :navdata="<%= JSON.stringify(this.nav) %>" :rooter="'<%= this.pagerooter %>'"></breadcrumb>

		<div class="content">
			<div class="table_name">用户管理</div>
			<div class="form_box">
				<% this.components.forEach(function(component){ %>
					<%
						var _tml = '<' + component.com_type + ' class="form-group" ';
						_tml += 'label="' + component.label + '" ';
						if(component.help){ _tml += 'help="' + component.help + '" '; }
						if(component.value){ _tml += ':value.sync="' + component.value + '" '; }
						if(component.value){ _tml += 'name="' + component.value.toString() + '" '; }
						if(component.required){ _tml += 'required' + ' '; }
						if(component.step){ _tml += 'step="' + component.step + '" '; }
						if(component.url){ _tml += ':url="' + component.url + '" '; }
						if(component.icon){ _tml += 'icon="' + component.icon + '" '; }
						if(component.type){ _tml += 'type="' + component.type + '" '; }
						if(component.mask){ _tml += ':mask="' + component.mask + '" '; }
						if(component.pattern){ _tml += ':pattern="' + component.pattern + '" '; }
						if(component.error){ _tml += 'error="' + component.error + '" '; }

						_tml += '></' + component.com_type + '>'
					%>
					<%== _tml %>
				<% }); %>
			</div>
			<div class="tool_box">
				<div v-if="id" class="btn btn-primary" @click="previewCourse">预览效果</div>
				<div v-if="id" class="btn btn-primary" @click="saveCourse">保存课程</div>
				<div v-else class="btn btn-primary" @click="saveCourse">创建课程</div>
				<div v-if="id" class="btn btn-primary">发布课程</div>
			</div>
		</div>
	</div>

	<aside :show.sync="preview_show" placement="right" header="课程详情预览" :width="800">
		<preview-course :courseid="id" :coursedata="formdata"></preview-course>
	</aside>
</div>

<%== loader.loadJS(['page/course/create']); %>

<%# block/foot.html %>
