<%# block/head.html %>

<div class="main">
	<cms-header :userinfo="<%= JSON.stringify(this.userinfo.data) %>"></cms-header>

	<div class="left_block">
		<cms-nav :navdata="<%= JSON.stringify(this.nav) %>"></cms-nav>
	</div>

	<div class="right_block">
		<breadcrumb :navdata="<%= JSON.stringify(this.nav) %>" :rooter="'<%= this.pagerooter %>'"></breadcrumb>

		<div class="content">
			<div class="table_name">课件</div>
			<div class="form_box">
				<bs-input
					label="所属课程"
					:value.sync="course_id"
					:disabled="true"
				></bs-input>
				<upload-time v-if="entity_type == 1" class="form-group" :value.sync="attachment" :urls="[entity.url]" :time.sync="epoch" label="上传图片"></upload-time>
				<upload-audio v-else class="form-group" :value.sync="attachment" :name="entity.name" :url="entity.url" label="上传音频"></upload-audio>
			</div>
			<div class="tool_box">
				<div class="btn btn-primary" @click="saveCreate">保存课件</div>
			</div>
		</div>
	</div>
</div>

<%== loader.loadJS(['page/courseware/create']); %>

<%# block/foot.html %>
