<%# block/head.html %>

<div class="main">
	<cms-header :userinfo="<%= JSON.stringify(this.userinfo.data) %>"></cms-header>

	<div class="left_block">
		<cms-nav :navdata="<%= JSON.stringify(this.nav) %>"></cms-nav>
	</div>

	<div class="right_block">
		<breadcrumb :navdata="<%= JSON.stringify(this.nav) %>" :rooter="'<%= this.pagerooter %>'"></breadcrumb>

		<div class="content">
			<div class="table_name">最新课程管理</div>
			<div class="content_box">
				<courselist-create v-for="course in courselist" :course.sync="course"></courselist-create>

				<div class="tool_box">
					<div class="btn btn-primary" @click="addCourse">添加最新课程</div>
				</div>
			</div>
			<div class="preview_box">
				<div class="box_title">最新课程预览</div>
				<div class="inner">
					<preview-courselist v-for="course in courselist" :course.sync="course"></preview-courselist>
				</div>
			</div>
		</div>
	</div>
</div>

<%== loader.loadJS(['page/banner/create']); %>

<%# block/foot.html %>
