<%# block/head.html %>

<div class="main">
	<cms-header :userinfo="<%= JSON.stringify(this.userinfo.data) %>"></cms-header>

	<div class="left_block">
		<cms-nav :navdata="<%= JSON.stringify(this.nav) %>"></cms-nav>
	</div>

	<div class="right_block">
		<breadcrumb :navdata="<%= JSON.stringify(this.nav) %>" :rooter="'<%= this.pagerooter %>'"></breadcrumb>

		<div class="content">
			<div class="table_name">用户操作日志管理</div>
			<vuetable v-ref:vuetable
				api-url="/aj/api/log/show"
				:fields="fields"
				table-class="table table-bordered table-striped table-hover"
				ascending-icon="glyphicon glyphicon-chevron-up"
				descending-icon="glyphicon glyphicon-chevron-down"
				pagination-class=""
				pagination-info-class=""
				pagination-component-class=""
				pagination-info-template="当前页显示 {from} 到 {to} 条数据，总共有 {total} 条数据"
				:pagination-component="paginationComponent"
				:item-actions="itemActions"
				:append-params="moreParams"

				wrapper-class="vuetable-wrapper"
				table-wrapper=".vuetable-wrapper"

				detail-row-id="id"
				detail-row-transition="expand"
				row-class-callback="rowClassCB"

				:selected-to="selectedRows"
				:query-params="{sort: 'sort', page: 'page',perPage: 'size'}"
				:data-path="''"
				pagination-path=""
				per-page="30"
			>
			</vuetable>
		</div>
	</div>
</div>

<%== loader.loadJS(['page/website/log']); %>

<%# block/foot.html %>
