<%# block/head.html %>

<div class="main">
	<cms-header :userinfo="<%= JSON.stringify(this.userinfo.data) %>"></cms-header>

	<div class="left_block">
		<cms-nav :navdata="<%= JSON.stringify(this.nav) %>"></cms-nav>
	</div>

	<div class="right_block">
		<breadcrumb :navdata="<%= JSON.stringify(this.nav) %>" :rooter="'<%= this.pagerooter %>'"></breadcrumb>

		<div class="content">
			<div class="table_name">章节</div>
			<div class="form_box">
				<bs-input
					label="所属课程"
					:value.sync="formdata.course_id"
					help="填写已创建的课程唯一编号"
					:disabled="urlParamsid"
				></bs-input>
				<bs-input
					label="章节名"
					:value.sync="formdata.name"
				></bs-input>
				<bs-input
					label="章节简介"
					:value.sync="formdata.brief"
					type="textarea"
				></bs-input>
				<div class="line_tool_box">
					<div v-if="id" class="btn btn-primary" @click="saveCourse">保存章节</div>
					<div v-else class="btn btn-primary" @click="saveCourse">创建章节</div>
				</div>
			</div>

			<chapter-create
				v-for="chapter in chapterList"
				:chapterindex="$index"
				:chapterdata="chapter"
				:courseid="formdata.course_id"
			></chapter-create>

			<div class="tool_box">
				<div class="btn btn-primary" @click="addChpter">添加小节</div>
			</div>
		</div>
	</div>
</div>

<%== loader.loadJS(['page/lesson/create']); %>

<%# block/foot.html %>
