<%# block/head.html %>

<div class="main">
	<cms-header></cms-header>

	<div class="left_block">
		<cms-nav :navdata="<%= JSON.stringify(this.nav) %>"></cms-nav>
	</div>

	<div class="right_block">
		<breadcrumb :navdata="<%= JSON.stringify(this.nav) %>" :rooter="'<%= this.pagerooter %>'"></breadcrumb>

		<div class="content">
			<div class="table_name">章节</div>
			<div class="form_box">
				<bs-input
					label="所属课程"
					:value.sync="formdata.course_id"
					help="填写已创建的课程唯一编号"
				></bs-input>
				<bs-input
					label="所属课时"
					:value.sync="formdata.lesson_id"
				></bs-input>
				<bs-input
					label="章节名"
					:value.sync="formdata.name"
					help="填写已创建的课程唯一编号"
				></bs-input>
				<bs-input
					label="章节简介"
					:value.sync="formdata.brief"
					type="textarea"
				></bs-input>
				<upload-time class="form-group" :multi="true" :value.sync="images" :time.sync="times" :urls="image_urls" label="上传图片"></upload-time>
				<upload-audio class="form-group" :value.sync="audio_new" :name="audio_name" :url="audio_url" label="上传音频"></upload-audio>
			</div>
			<div class="tool_box">
				<div class="btn btn-primary">预览效果</div>
				<div v-if="id" class="btn btn-primary" @click="saveCreate">保存章节</div>
				<div v-else class="btn btn-primary" @click="saveCreate">创建章节</div>
			</div>
		</div>
	</div>
</div>

<%== loader.loadJS(['page/chapter/create']); %>

<%# block/foot.html %>
